
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    height: 1000px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ///////////////////////////////header//////////////////////////// */
 .khaled2 {
   color: rgb(255, 255, 255);
   font-size: 30;
   margin-left: 25;
   margin-top:15 ;
 }   
.fa-magnifying-glass{
   position: absolute;
   left: 100;
   font-size: 20;
   margin-top: 23;
}

.soso{
   height: 30;
   width: 250;
   margin-left: 25;
   border-radius: 15px;
   border: 2px solid rgb(0, 0, 0);
   position: relative;
   bottom: 5;
   padding: 10px 0 10px 35px;

}
.header{
    width: 100%;
    height: 60px;
    background-color: rgba(143, 142, 142, 0.829);
    position: fixed;
    top: 25px;
    /* border-radius: 15px; */
    z-index: 99999;
    top:3%;
    left: 50%;
    transform: translate(-50%,0);
    top: 0;
    
}
.header img{
    width: 120;
    height: 65;
    margin-right: 270px;
   /* margin-right: 219; */
    float: left;
    
}

.list {
list-style: none;
 float: right;
margin-right: 50px;
   
}

.listeitem{
   position: relative;
}
.listeitem:hover .nono{
   display: block;
}
.listeitem::after{
    position: absolute;
   content: "";

   width:0 ;
   height: 2;
   bottom: -3;
   right: 0;
  background-color: rgba(16, 17, 17, 0.3);
  border-radius: 15px;
   transition: 0.3s;
}
.listeitem::after :hover{
   width: 100%;
}

.nono{
   position: absolute;
   background-color: #0a75cc81;
   padding: 15 0;
   color: rgb(0, 0, 0);
   top: 45px;
   width: 150;
   border-radius: 10; 
   display: none;
   z-index: 99999;
}
.nono li a{
   color: black;
   position: relative;
}
.listitem .nono::after{
     position: absolute;
   content: "";

   width:0 ;
   height: 2;
   bottom: -3;
   right: 0;
  background-color: black;
  border-radius: 15px;
   transition: 0.3s;
}
.listeitem .nono:hover::after{
   width: 100%;
  
   

}



.list li{
     display: inline-block;
    color: beige;
    text-transform: uppercase;
   margin-left: 10px;
    padding-top: 25;
    font-size: 15;
}
.list li a::after{
    position: absolute;
   content: "";

   width:0 ;
   height: 2;
   bottom: -3;
   right: 0;
  background-color: black;
  border-radius: 15px;
   transition: 0.3s;
}
.list li a:hover::after{
   width: 100%;
  
   

}


.list li a{
     text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}
 /* //////////////////////////////////sec1///////////////////////////// */
.home{
   width: 100%;
   height: 100vh;
   background-image: url(../images/yt556.jpg);
   position: relative;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: 0;
}

.home-overlay{
   width: 100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.7);
   z-index: 1;
   
}

.home-contant{
   width: 70%;
   color: wheat;
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   transform: translate(-50%,-50%);
}

.home-title{
font-size: 60px;
color: white;

}
.home-p{
   font-size: 20px;
   margin: 20px 0px ;
   color: rgba(197, 195, 195, 0.781);
}
.btn{
   width: 180px;
   padding: 20px 0px;
   margin: 0px 5;
   font-size: 17;
  cursor: pointer;
  border: 0px;
  border-radius: 15px;
  background-color: #0249a7;
  color: azure;
  font-weight: bold;
}

.home-btn2{
  background-color: #ffffff;
  width: 180;
  color: rgb(0, 0, 0);
  font-size: 17;
  font-weight: bold;
  
}
.btn:hover{
   opacity: 0.6;
}

/* //////////////////////////////sec2/////////////////////////////// */

.fully{
   width: 100%;
   height: 110vh;
    background-color: white;
   position: relative;
}
.fully-title{
   font-size: 45;
    color: #0249a7;
   text-align: center;
   text-transform: capitalize;
   position: relative;
   top: 45;
}
.fully-line{
   width: 120;
   height: 4;
   margin: auto;
   background-color: #0249a7;
   margin-top: 50;
}

.fully-contaner{
    width: 85%;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.fully-teamitem{
   float: left;
   width: 30%;
   background-color: #F7FAFC;
   text-align: center;
   padding: 18 14;
    border: 2px solid #0249a7;
   border-radius: 15px;
   position: relative;
   z-index: 77;
}
.fofo{
    margin: 0 5%;
}

.fully-teamitem i{
   font-size: 49px;
   width: 60px;
   height: 60px;
     color: #0249a7;
}

.fully-teamitem h2{
   font-size: 30;
   text-transform: capitalize;
   margin: 15 0;
   color: #0249a7;
}
.fully-teamitem:hover  h2{
   color: rgb(255, 255, 255);
}

.fully-teamitem p{
   text-transform: capitalize;
   margin-bottom: 20;
   color: rgb(165, 163, 163);
}

.fully-teamitem:hover p{
   color: rgba(0, 0, 0, 0.644);
}
.fully-teamitem a{
   text-decoration: none;
     color: rgb(150, 150, 211);
     text-transform: capitalize;
}
.fully-teamitem:hover a{
    color: #0249a7;
}

.fully-teamitem::after{
   position: absolute;
   content: "";

   width:0 ;
   height: 0;
   top: 0;
   left: 0;
  background-color: #024aa757;
  border-radius: 15px;
  z-index: -10;
  
}

.fully-teamitem:hover::after{
   width: 100%;
   height: 100%;
   transition: 0.25s;

}
/* /////////////////////////////////sec3///////////////////////////////// */
.works{
   width: 100%;
   height: 100vh;
   background-color:#ffffff;
   position: relative; 
}
.h2works{
   text-align: center;
   font-size: 45;
   text-transform: capitalize;
   position: relative;
   top: 45;
   color: #0249a7;
}
.lineworks{
   width: 120;
   height: 4;
   margin: auto;
   background-color: #0249a7;
   margin-top: 50;
}
.works-container{
    width: 75%;
   margin: auto;
   margin-top: 55;
  
}
.works-parent1{

}
.works-item{
    float: left;
   width: 300;
   height: 200;
   background-color: rgb(134, 138, 138);
   text-align: center;
   margin-bottom: 50px;
   border-radius: 15px;
  position: relative;
  
}
.feat{
    margin: 0 5%;
}
.works-item img{
   width: 100%;
   height:200;
   border-radius: 10px;
}

.works-overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0,0.5);
  visibility: hidden;
  border-radius: 10px;
}
.works-item h2{
    text-transform: uppercase;
    font-size: 35px;
    margin: 30px 0;
    color: white;
}
.works-item p{
   text-transform:capitalize;
   color: rgb(194, 193, 193);
   margin: 20px 0;
}
.works-item a i{
   background-color: white;
   margin: 20 0;
   font-size: 20;
   color: black;
   width: 35px;
   height:25px ;
   line-height: 25px;
   border-radius: 5px;
}

.works-item:hover .works-overlay{
visibility: visible;
}

/* ///////////////////////////////////////////sec4////////////////////// */

.offer{
    width: 100%;
   height: 100vh;
   background-color: white;
   
}
.jojo{
   width: 900;height: 40;
   text-align: center;
   margin: auto;
   margin-top: 70px;
   
}
.offer-title{
    text-align: center;
   font-size: 45;
   text-transform: capitalize;
   position: relative;
   bottom: 20;
   color: #0249a7;
}
.lineoffer{
    width: 120;
   height: 4;
   margin: auto;
   background-color: #0249a7;
   margin-top:-5;
}
.offer-container{
    width: 80%;
   margin: auto;
   margin-top: 60;
  
}
.offer-item{
    float: left;
   width: 30%;
   height: 220;
   padding: 5px 8px 10px 60px;
   background-color: #ffffff;
   margin-bottom: 15px;
   border-radius: 15px;
   border: 2px solid blue;
   position: relative;
    z-index: 77;
}
.boo{
    margin: 0 5%;
}
.offer-item h2{
   font-size: 30;
   text-transform: capitalize;
   color: rgba(0, 0, 0,0.6);
   position: relative;
   bottom: 15;
   height: 55;
}
.offer-item:hover h2{
   color: #0249a7;
}
.offer-item p{
   font-size:15 ;
   margin: 15px 0px;
   color: rgb(163, 162, 162);
   position: relative;
   bottom: 10;
}
.offer-item:hover p{
   color:rgb(255, 255, 255);
}
.offer-item a i{
   font-size: 40px;
   position: relative;
   right: 50;
   top: 30;
   color: rgba(10, 116, 204,0.5);
}
.offer-item:hover a i{
 color: #0249a7; 
}
.offer-item::after{
   position: absolute;
   content: "";

   width:0 ;
   height: 100%;
   top: 0;
   left:  0;
  background-color: #024aa757;
  border-radius: 15px;
   z-index: -10;
  
}
.offer-item:hover::after{
   width: 100%;
   height: 100%;
   transition: 0.25s;
   

}
/* ////////////////////////////////////sec5///////////////////////////////////////////////// */
.why{
   width: 100%;
   height: 100vh;
   background-color: rgb(252, 252, 255);
}
.why-container{
    width: 80%;
   margin: auto;
  position: relative;
  top: 100;
}
.why-parent{

}
.why-info{
   float: left;
  width: 600px;
}
.why-choose .linewhy{
   width: 80;
   height: 4px;
  background-color: #0249a7; 
  
}

  .h2why{
   font-size: 45px;
   text-transform: capitalize;
   color:  #0249a7;
  }
  .pwhy{
   font-size: 15;
   margin: 40px 0px 60px 0px;
   text-transform: capitalize;
   color: #494949;
  }

.why-img{
   float: right;
  
}
.why-img img{
   width: 350px;
   height: 500px;
   border-radius: 10px;
   
}
.why-li{
  list-style: none;
 line-height: 3;
 color:  #0249a7;
}
.why-li i{
   font-size: 20;
   color: #494949;
}
 .why-img ul  {
   display:flex;
   font-size: 50;
   color: #cfcbcb;
   margin-left: 170;
}
.why-img ul li{
   margin: 0 15px;
}
.zozo2:hover {
   color:#0b2545 ;
}
.zozo3:hover {
   color:#0b2545 ;
}
.zozo1{
  color: #0b2545;
}
/* /////////////////////////////////sec6/////////////////////////// */
.won{
  width: 100%;
   height: 60vh;
   background-color: rgb(255, 255, 255); 
   background-image: url(../images/download\ \(7\).jfif);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   position: relative;
   /* bottom: 100px; */
   margin-top: 150;
   


}
.won-parent{

}
.won-container{
   width: 100%;
   
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  
}
.won-item{
   width: 25%;
   text-align: center;
  
   float: left;
   

   
}
.won-item i{
   color: white;
}
.won-item-title{
   color: white;
   margin: 15 0 0 0;
}
.won-item-text{
   color: white;
}
.won-overlay{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0,0.6);
   z-index: 1;
}

  .won-item-title{
      font-size: 25;
   }
   .won-item-text{
       font-size: 25;
       text-transform: capitalize;
   }
   .won-item i{
       font-size: 30px
   }
  /* /////////////////////////////////////////sec7///////////////////////////////////// */
  .table{
    width: 100%;
   height: 100vh;
   background-color: #ffffff;
   position: relative;
  }
  .table-title{
    text-align: center;
   font-size: 45;
   text-transform: capitalize;
   position: relative;
   top:  130;
   color: #0249a7;
}
.table-line{
    width: 120;
   height: 4;
   margin: auto;
   background-color: #0249a7;
   margin-top:140;
}
.table-container{
    width: 75%;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   margin-top: 130;
}
.table-parent{

}
.table-item{
   float: left;
   width: 30%;
   background-color: #ffffff;
   text-align: center;
   padding: 30 0;
    border: 1px solid rgb(150, 150, 211);
   border-radius: 15px;
   position: relative;
   z-index: 77;
}
.center{
    margin: 0 5%;
}
.table-item-p{
   font-size: 20;
   padding: 0 0 20 0;
}
.table-item:hover .table-item-p{
color: #0249a7;
}
.table-item-div{
   width: 100;
   height: 100;
   border: 2px solid #0249a7;
   border-radius: 50px;
  margin-top: 30;
  margin-bottom: 30;
   margin: auto;
}
.table-item:hover .table-item-div{
 border: 2px solid rgb(21, 21, 22);
}

.h3-dollar{
   font-size: 35;
   margin-top: 20;
}
.table-item-ul{
   list-style: none;
   line-height: 2;
   margin: 30 0;
}
.table-item-btn{
   font-size: 15;
   border: 1px solid #0249a7 ;
   border-radius: 10px;
   width: 150;
   height: 30;
   text-transform: capitalize;
   font-weight: bold;
   background-color: #c1dafa;
}

.table-item::after{
   position: absolute;
   content: "";

   width:100% ;
   height: 0%;
   top: 0;
   right: 0;
  background-color: rgba(137, 193, 229, 0.3);
  border-radius: 15px;
  
}
.table-item:hover::after{
   width: 100%;
   height: 100%;
   transition: 0.5s;
   z-index: -10;
}
/* ///////////////////////////////////sec8///////////////////// */
.con{
  width: 100%;
   height: 60vh;
   background-color: rgb(255, 255, 255); 
   background-image: url(../images/5556655.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   position: relative;
   margin-top: 100px;
   margin-bottom: 100px;

}
.con-info  img{
   width: 100;
   height: 100;
   border-radius: 50px;
   

}
.con-img{
   float: left;
   position: relative;
   bottom: 25 ;
   left: 50;
}
 .con-p  {
   margin-top:50 ;
   text-transform: capitalize;
   margin-left: 50;
   color: white;

}
.con-info h3{
   text-transform: capitalize;
   font-size: 30;
  position: relative;
  left: 70;
  color: white;
}
.con-info span{
   position: relative;
   top: 10;
   text-transform: capitalize;
   font-size: 20;
   left: 70;
   color: #04306b;
}

.con-parent{

}
.con-container{
   width: 70%;
   
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  
}
.con-item{
   width: 50%;
   /* text-align: center; */
  
   float: left;
}

.con-overlay{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0,0.3);
   z-index: 1;
}



  
   
   
























/* ////////////////////////////////////////////sec9///////////////////////// */
.to-contaner{
   width: 85%;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

}
.to{
   width: 100%;
   height: 100vh;
   background-color: rgb(252, 255, 255);
   position: relative;
  

}


.to-teamitem{
   float: left;
   width: 30%;
   background-color:  #e9ecee;
   text-align: center;
   padding: 18 14;
   border-radius: 10px;
   position: relative;
}
.koko{
   margin: 0 5%;
}
.to-title{
    text-align: center;
   font-size: 45;
   text-transform: capitalize;
   position: relative;
   top: 25;
   color: #0249a7;
}
.to-line{
    width: 120;
   height: 4;
   margin: auto;
   background-color: #0249a7;
   margin-top: 30;
}
.to-info h2{
margin: 20 0 5 0;
text-transform: capitalize;
color: #0b2545;
}
.to-info p{
   color:  #0249a7;
}

.to-images{
width: 85%;
margin: auto;
position: relative;
}
.to-images img{
   width: 100%;
}

.to-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0,0.6);
   visibility: hidden;
   opacity: 0;
   transition: 0.25s;
}

.to-teamitem:hover   .to-overlay{
   visibility: visible;
   opacity: 0.8;
}
.to-overlay a{
   display: block;
   background-color: #0249a7;
   color: rgb(255, 255, 255);
   font-size: 21;
   width: 40px;
   height: 40px;
   margin-left: auto;
}
.to-overlay a i{
   line-height: 40px;
}
.to-teamitem::after{
   position: absolute;
   content: "";

   width:100% ;
   height: 0;
   top: 0;
   right: 0;
  background-color: rgba(137, 193, 229, 0.3);
  border-radius: 15px;
  z-index: 1;
}
.to-teamitem:hover::after{
    width: 100%;
   height: 100%;
   transition: 0.25s;
}
/* /////////////////////////////////////sec10////////////////////////////////// */
.news{
   width: 100%;
   height: 100vh;
   background-color: rgb(255, 255, 255);
   position: relative;
}
.news-container{
   width: 85%;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   

}
.news-item{
   float: left;
   width: 30%;
   background-color:  #e9ecee;
   text-align: center;
   padding: 18 14;
   border-radius: 10px;
   position: relative;
   border: 1px solid blue;
   top: 60;
   z-index: 55;
}
.aoao{
   margin: 0 5%;
}
.news-title{
    text-align: center;
   font-size: 45;
   text-transform: capitalize;
   position: relative;
   top: 25;
   color: #0249a7;
}
.news-line{
    width: 120;
   height: 4;
   margin: auto;
   background-color: #0249a7;
   margin-top: 30;
}
.news-icons{
   font-size: 20;
  text-decoration: none;
  margin: 20 0;
   color: #0249a7;
   
}
.popo{
   margin: 0 15;
}
.news-item img{
   border-radius: 10px;
   
}
.news-item ul a{
   text-decoration: none;
 
  
}
.news-item h3{
   font-size: 20;
   margin: 20 0 30 0;
}
.news-item:hover h3{
   color: #61717c;
}
.news-item p{
   font-size: 15;
  margin-bottom: 20;
  color: #494949;
}
.news-item:hover p{
   color: white;

}
.news-read-more{
    font-size: 15;
   text-decoration: none;
   color: #0249a7;
   text-transform: capitalize;
}
  
  
.news-item::after{
   position: absolute;
   content: "";

   width:100% ;
   height: 0;
   top: 0;
   right: 0;
  background-color: rgba(137, 193, 229, 0.3);
  border-radius: 15px;
  z-index: -1;
}
.news-item:hover::after{
   width: 100%;
   height: 100%;
   transition: 0.5s;
}

/* /////////////////////////////////////////////sec11////////////////////////////////// */
.end{
  height: 360px;
   background-color: gray;
   text-align: center;
   margin: 120 0 0 0; 
}
.end-img{
   border-radius: 15px;
   margin: 25 0 0 0;
}
.end-icon i{
   width: 60;
   height: 60;
   border-radius: 30px;
   background-color: #0249a7;
   font-size: 30;
   line-height: 2;
}

.end-icon{
   margin: 30 0 10 0;
   position: relative;
   color: white;
}


.fa-linkedin-in:hover{
   background-color: #cfcbcb;
   color: black;
   transition: 0.5s;
}
.fa-facebook-f:hover{
   background-color: #cfcbcb;
    transition: 0.5s;
    color: black;
}
.fa-twitter:hover{
   background-color: #cfcbcb;
    transition: 0.5s;
    color: black;
}
.fa-instagram:hover{
   background-color: #cfcbcb;
    transition: 0.5s;
    color: black;
}
.fa-youtube:hover{
   background-color: #cfcbcb;
   transition: 0.5s;
   color: black;
}
.fa-google-plus-g:hover{
   background-color: #cfcbcb;
    transition: 0.5s;
    color: black;
}
  